In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

mouseData_df = pd.DataFrame(mouse_metadata)
studyResults_df = pd.DataFrame(study_results)

fullData_df = pd.merge(mouseData_df,studyResults_df, on="Mouse ID", how="outer")
fullData_df


numMice = len(fullData_df["Mouse ID"])
# numMice
# fullData_df["Mouse ID"][2]

miceDict = {}
miceIDS = []



for x in range(numMice):
    mouseID = fullData_df["Mouse ID"][x]
    
    if mouseID not in miceIDS:
        mouseTPS = []
        miceIDS.append(mouseID)
        mouseTP = fullData_df["Timepoint"][x]

        if mouseTP not in mouseTPS:
            mouseTV = []
            mouseMS = []
            mouseTPS.append(fullData_df["Timepoint"][x])
                       
            mouseDrug = fullData_df["Drug Regimen"][x]
            mouseSex = fullData_df["Sex"][x]
            mouseAge = fullData_df["Age_months"][x]
            mouseWeight= fullData_df["Weight (g)"][x]       
            mouseTV.append(fullData_df["Tumor Volume (mm3)"][x])
            mouseMS.append(fullData_df["Metastatic Sites"][x])
            
            miceDict = {"Mouse ID" : mouseID,
                        "Drug Regimen" : mouseDrug,
                        "Sex" : mouseSex,
                        "Age(months)" : mouseAge,
                        "Weight(g)" : mouseWeight,
                        "Timepoint" : mouseTPS, 
                        "Tumor Volume(mm3)" : mouseTV,
                        "Metastatic Sites" : mouseMS,
                        }
#         else
#             miceDict[mouseID][mouseTPS].append(fullData_df["Timepoint"][x])   

##?? Do i need to add separate dictionary for timepoints
#     elif mouseID in miceIDS:
#         miceDict["Timepoint"].append(fullData_df["Timepoint"][x])
#         miceDict["Tumor Volume(mm3)"].append(fullData_df["Tumor Volume (mm3)"][x])
#         miceDict["Metastatic Sites"].append(fullData_df["Metastatic Sites"][x])
    
pd.DataFrame(miceDict)    
    
   
    
    
    
    
#     if (fullData_df["Mouse ID"][i+1]==fullData_df[])

,Mouse ID,Drug Regimen,Sex,Age(months),Weight(g),Timepoint,Tumor Volume(mm3),Metastatic Sites
0,z969,Naftisol,Male,9,30,0,45.0,0

In [8]:
# fullData_df.loc[fullData_df["Mouse ID"]=="g989", :]
# fullData_df["Mouse ID"]
test = pd.DataFrame(fullData_df.value_counts())
# test["Mouse ID"]
# print(len(test["Mouse ID"]))
# print(numMice)
test.head(50)
# test.groupby("Mouse ID").mean()

                                                                                                  0
Mouse ID Drug Regimen Sex    Age_months Weight (g) Timepoint Tumor Volume (mm3) Metastatic Sites
g989     Propriva     Female 21         26         0         45.000000          0                 2
a203     Infubinol    Female 20         23         0         45.000000          0                 1
q597     Ramicane     Male   20         25         40        44.471821          2                 1
q633     Zoniferol    Male   12         25         10        49.001866          0                 1
                                                   5         47.183802          0                 1
                                                   0         45.000000          0                 1
q610     Ramicane     Female 18         21         35        36.561652          2                 1
                                                   30        40.668343          1                 1
                                                   25        40.146450          0                 1
                                                   20        46.585433          0                 1
                                                   15        45.889028          0                 1
                                                   10        44.991485          0                 1
                                                   5         45.629494          0                 1
                                                   0         45.000000          0                 1
q597     Ramicane     Male   20         25         45        45.220869          2                 1
                                                   35        43.807201          1                 1
q633     Zoniferol    Male   12         25         20        53.287287          1                 1
q597     Ramicane     Male   20         25         30        43.339161          1                 1
                                                   25        42.575707          1                 1
                                                   20        41.925587          0                 1
                                                   15        41.395660          0                 1
                                                   10        42.537986          0                 1
                                                   5         45.766111          0                 1
                                                   0         45.000000          0                 1
q582     Placebo      Male   5          30         35        53.713158          2                 1
                                                   30        52.648893          2                 1
                                                   25        51.968211          2                 1
                                                   20        51.185976          2                 1
                                                   15        48.322640          2                 1
q633     Zoniferol    Male   12         25         15        50.583557          1                 1
                                                   25        55.683102          1                 1
r554     Capomulin    Female 8          17         10        39.005494          2                 1
q633     Zoniferol    Male   12         25         30        58.057253          1                 1
r554     Capomulin    Female 8          17         0         45.000000          0                 1
r157     Capomulin    Male   22         25         15        46.539206          0                 1
                                                   10        46.059608          0                 1
                                                   5         45.597064          0                 1
                                                   0         45.000000          0                 1
r107     Propriva     Female 2          28         30        58.406473          1                 1
                                                   25        57.706667          1                 1
                                                   20        55.263858          0                 1
                                                   15        53.090335          0                 1
                                                   10        49.186011          0                 1
                                                   5         48.513420          0                 1
                                                   0         45.000000          0                 1
q787     Placebo      Male   17         27         45        66.096475          3                 1
                                                   40        62.034127          3                 1
                                                   35        60.333852          3                 1
                                                   30        55.036206          2                 1
                                                   25        52.713188          2                 1

In [57]:
checks = ["Mouse ID", "Timepoint"]

dup = fullData_df[checks].duplicated()
test = fullData_df.loc[dup]
test.set_index("Mouse ID")
# fullData_df.loc[fullData_df["Mouse ID"]== "g989",:]
# fullData_df.loc[fullData_df["Mouse ID"]=="g989", :]

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,49.880528,0
g989,Propriva,Female,21,26,15,53.442020,0
g989,Propriva,Female,21,26,20,54.657650,1